
{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Remerciment a toute les persones qui ont données {% endblock %}</h1>
{% if don: %}
<section class="merci_box1" {{"style= dispay:none"}}>
    <div></div>
    <ul>
        <li>{{nom}}</li>
        <li>{{prenom}}</li>
        <li>{{don}}</li>
        <li>{{message}}</li>
    </ul>

</section>
{% endif %}

<section class="merci_box2">
    {% for element in donateur %}
        <ul class="donateur">
            <div><span>{{ element[3]}}</span></div>
            <div><span>{{ element[2]}}</span></div>
            <div><span>{{ element[0]}}</span> <span>{{ element[1]}}</span></div>

        </ul>
    {% endfor %}
</section>
    
{% endblock %}